# Ignore IDE files
.idea/
*.iml

.idea/**
.idea/*.xml
# Ignore OS files
.DS_Store

# Ignore target build directories
**/target/

# Ignore all application config files
**/application.properties
**/application.yml
